.button {
  &.tiny {
    background-color: $color-red;
    border-radius: 3px;
    color: $color-white;
    font-size: 12px;
    line-height: 1;
    padding: 8px 10px 6.5px 10px;
    text-transform: uppercase;
    transition: 0.25s background-color ease;
    white-space: nowrap;
    &:hover {
      background-color: $color-red-dark;
      transition: 0.25s background-color ease;
    }
  }
}

.button {
  &.link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    @include sm {
      font-size: 14px;
    }

    @include lg {
      font-size: 14px;
    }
  }
}

.button {
  display: inline-block;
  font-weight: $bold;
  transition: 0.25s all linear;
  width: initial;
  &:hover {
    transition: 0.25s all linear;
  }

  &.primary {
    background-color: $color-red-dark;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    padding: 19px 56px 18px 56px;
    text-transform: uppercase;
    &:hover {
      background-color: $color-red;
    }
  }
  &.hide {
    display: none;
  }
}
