.global-footer {
  background-color: $color-blue-darker;

  .content-wrapper {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1600px;
    padding: 30px 60px;

    @include sm {
      align-items: flex-start;
      flex-direction: column;
      padding: 30px 30px;
    }

    @include md {
      flex-direction: column;
      justify-content: flex-start;
      padding: 30px 60px 20px 60px;
    }

    @include xl {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .brand-wrapper {
    text-align: center;
    @include sm {
      align-items: center;
      display: flex;
      justify-content: space-between;
      text-align: left;
      width: 100%;
    }

    @include md {
      align-items: center;
      display: flex;
      order: 1;
      width: 100%;
    }

    @include xl {
      justify-content: space-between;
      width: initial;
      width: 60%;
    }
  }

  .copyright-group {
    flex: 1;
    order: 3;
    text-align: center;
    @include sm {
      order: 1;
      text-align: left;
    }

    @include md {
      order: 2;
    }

    @include xl {
      flex: initial;
      order: 1;
      width: calc(100% / 3);
    }

    p {
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 4px;
    }

    ul {
      display: flex;
      justify-content: center;
      @include sm {
        justify-content: flex-start;
      }

      li {
        a {
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          margin-right: 25px;
          text-decoration: underline;
          &:after {
            content: "|";
            font-size: 14px;
            left: 12px;
            position: relative;
          }
        }

        + li {
          a {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }

  .logo {
    flex: 1;
    height: 81px;
    margin-bottom: 20px;
    order: 1;
    @include sm {
      flex: initial;
      margin-bottom: 20px;
      order: 2;
      width: initial;
    }

    @include md {
      flex: initial;
      order: 2;
    }

    @include xl {
      margin-bottom: 20px;
      order: 2;
    }
  }

  .social-media {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 0 auto 30px auto;
    order: 2;
    @include sm {
      margin: 0 0 0 0;
      margin-bottom: 0;
      order: 3;
    }

    @include md {
      margin-bottom: 20px;
    }

    @include xl {
      flex: initial;
      margin-bottom: 0;
      order: 3;
    }

    li {
      margin-left: 12px;
      margin-right: 12px;
      &:last-child {
        img {
          width: 34px;
        }
      }
    }

    img {
      height: 40px;
      width: 40px;
    }
  }
}
