.global-footer {

  background-color: $color-blue-darker;

  .content-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    padding: 30px 60px;
    color: #fff;
    justify-content: space-evenly;
    align-items: center;

    @include sm {
      flex-direction: column;
      align-items: flex-start;
      padding: 30px 30px;
    }
    @include md {
      flex-direction: column;
      padding: 30px 60px 20px 60px;
      justify-content: flex-start;
    }
    @include xl {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }


  }

  .brand-wrapper {
    text-align: center;
    @include sm {
      text-align: left;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }
    @include md {
      display: flex;
      width: 100%;
      align-items: center;
      order: 1;
    }
    @include xl {
      width: initial;
      justify-content: space-between;
      width: 60%;
    }
  }

  .copyright-group {
    flex: 1;
    order: 3;
    text-align: center;
    @include sm {
      order: 1;
      text-align: left;
    }
    @include md {
      order: 2;
    }
    @include xl {
      order: 1;
      flex: initial;
      width: calc(100% / 3);
    }

    p {
      margin-bottom: 4px;
      font-weight: 400;
      font-size: 15px;
      color: #fff;
    }
    ul {
      display: flex;
      justify-content: center;
      @include sm {
        justify-content: flex-start;
      }
      li {
        a {
          color: #fff;
          font-weight: 400;
          margin-right: 25px;
          text-decoration: underline;
          font-size: 14px;
          &:after {
            content: '|';
            position: relative;
            left: 12px;
            font-size: 14px;
          }
        }
        + li {
          a {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }


  .logo {
    flex: 1;
    height: 81px;
    order: 1;
    margin-bottom: 20px;
    @include sm {
      order: 2;
      margin-bottom: 20px;
      width: initial;
      flex: initial;
    }
    @include md {
      flex: initial;
      order: 2;

    }
    @include xl {
      order: 2;
      margin-bottom:20px;
    }
  }


  .social-media {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    order: 2;
    margin: 0 auto 30px auto;
    @include sm {
      order: 3;
      margin-bottom: 0;
      margin: 0 0 0 0;
    }
    @include md {
      margin-bottom: 20px;
    }
    @include xl {
      order: 3;
      flex: initial;
      margin-bottom:0;
    }


    li {
      margin-left: 12px;
      margin-right: 12px;
      &:last-child {
        img {
          width: 34px;
        }
      }
    }
    img {
      width: 40px;
      height: 40px;
    }
  }




}
