$max-nav-width: 1100px;
$spacer: 30vw;
$fixed-spacer-sm: 200px;
$fixed-spacer-md: 200px;
$fixed-spacer-lg: 280px;
$totalNavHeight: 125px;
$contactBannerHeight: 54px;

.global-header {
  overflow: hidden;
  @include lg {
    height: 125px;
  }

  .header-wrapper {
    align-items: center;
    background-color: $color-white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;
    position: relative;

    @include tn {
      // padding: 10px 24px;
    }
    @include sm {
      align-items: flex-start;
      flex-direction: row;
      padding: 0;
    }

    @include lg {
      height: 125px;
    }
  }

  @include sm {
    flex-direction: row;
  }

  .logo-wrapper {
    align-items: flex-start;
    display: flex;
    position: relative;
    &:hover {
      @include tn {
        background-color: $color-background-light;
        transition: 0.2s background-color linear;
      }
    }
    width: initial;
    @include sm {
      align-items: center;
      flex: none;
      height: 54px;
      width: $fixed-spacer-sm;
    }

    @include md {
      align-items: center;
      flex: none;
      height: 54px;
      width: $fixed-spacer-sm;
    }

    @include lg {
      align-items: center;
      flex: none;
      height: 100%;
      position: relative;
      top: -3px;
      width: $fixed-spacer-lg;
    }

    a {
      height: 100%;
      left: 0;
      position: absolute;
      text-indent: -100000px;
      top: 0;
      width: 100%;
    }

    .logo {
      display: none;

      + .logo {
        width: 175px;
        height: 85px;
        display: block;
        @include bp {
          width: 175px;
        }
        @include tn {
          width: 225px;
        }
      }

      @include sm {
        display: block;
        margin: 0 auto;
        width: $fixed-spacer-sm - 40px;
        + .logo {
          display: none;
        }
      }

      @include md {
        margin: 0 auto;
        width: $fixed-spacer-sm - 40px;
        + .logo {
          display: none;
        }
      }

      @include lg {
        display: none;
        & + .logo {
          display: block;
          margin: 0 auto;
          width: 225px;
        }
      }
    }
  }

  .nav-content-wrapper {
    display: flex;
    flex-direction: column;
    .navigation-primary {
      padding-right: 16px;
      @include lg {
        padding-right: 24px;
      }
    }

    #cloneStickyNav {
      opacity: 0;
      overflow: hidden;
      transition: 0.25s all linear;
      width: 100%;
      &.sticky {
        border-radius: 0;
        // height: 54px;
        opacity: 1;
        position: fixed;
        transform: translateY(100%);
        transition: 0.25s all linear;
        width: 100%;
        z-index: 3;
      }

      @include md {
        justify-content: space-between;
      }

      nav {
        margin-left: 24px;
        margin-right: 24px;
      }
    }

    div {
      nav {
        margin-left: 0;
        max-width: $max-nav-width;
        @include sm {
          margin-left: 0;
          margin-right: 0;
        }

        @include lg {
          display: block;
        }

        @include xl {
          display: block;
        }
      }

      &.contact-banner {
        align-items: center;
        background-color: $color-blue-darker;
        border-bottom-left-radius: 10px;
        color: $color-white;
        display: none;
        flex: 1;
        flex-direction: row;
        height: 54px;
        justify-content: flex-start;
        left: 0;
        @include sm {
          display: flex;
          justify-content: flex-end;
          left: $fixed-spacer-sm;
          padding: 0 0 0 0;
          width: calc(100vw - #{$fixed-spacer-sm});
        }

        @include md {
          display: flex;
          justify-content: space-between;
          left: $fixed-spacer-sm;
          padding: 0 0 0 16px;
          width: calc(100vw - #{$fixed-spacer-sm});
        }

        @include lg {
          justify-content: space-between;
          padding: 0 16px 0 8px;
          width: calc(100vw - #{$fixed-spacer-lg});
        }
        max-height: 54px;
        padding: 0 0 0 0;
        right: 0;
        top: 0;
        transform: translateY(0%);
        p {
          color: #fff;
          font-size: 15px;
          font-weight: $normal;
          margin-right: 0;
          position: relative;
          top: -1px;
        }

        a {
          color: $color-white;
          // letter-spacing: 1px;
          margin-left: 20px;
          @include sm {
            margin-left: 20px;
            // letter-spacing: 1px;
          }

          @include md {
            // letter-spacing: 1px;
          }

          &.tiny {
            display: none;
            margin-left: 20px;
            @include sm {
              display: block;
              font-size: 11px;
            }

            @include xl {
              display: block;
              font-size: 13px;
              margin-left: 8px;
            }
          }
        }

        .location-wrapper {
          align-items: center;
          display: none;
          flex: 1;
          flex-direction: row;
          justify-content: flex-start;
          padding-left: 0;
          padding-right: 16px;
          .after-sticky {
            a {
              border: 0;
            }
          }

          a {
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            margin-left: 0;
            &:hover {
              border-bottom: 1px solid rgba(255, 255, 255, 1);
              transition: 0.25s all linear;
            }
          }

          @include sm {
            display: none;
          }

          @include md {
            display: block;
            padding-left: 16px;
          }

          @include lg {
            opacity: 1;
            padding-left: 8px;
          }
        }
      }

      &.nav-wrapper {
        display: flex;
        align-items: center;
        // padding-right: 16px;
        @include sm {
          align-items: flex-end;
          display: flex;
          justify-content: space-between;
          overflow: hidden;
          padding: 20px 20px;
          position: relative;
          width: 100vw;
          a {
            font-size: 13px;
          }
        }

        @include sm {
          align-items: center;
          justify-content: flex-start;
          left: -$fixed-spacer-sm;
          padding: 10px 20px;
          width: 100vw;
        }

        @include md {
          justify-content: flex-start;
          left: -$fixed-spacer-sm;
          padding: 10px 24px;
          width: 100vw;
          a {
            font-size: 15px;
          }
        }

        @include lg {
          align-items: center;
          height: $totalNavHeight - $contactBannerHeight;
          justify-content: flex-start;
          left: 0;
          padding: 20px 20px;
          padding: 0 16px 0 16px;
          width: calc(100vw - #{$fixed-spacer-lg});

          a {
            font-size: 17px;
          }
        }

        div {
          flex: 1;
        }

        .search-icon {
          cursor: pointer;
          display: block;
          height: 36px;
          width: 36px;
          opacity: 0.85;
          transition: 0.25s all linear;
          z-index: 2;
          @include tn {
            height: 44px;
            width: 44px;
          }
          &:hover {
            opacity: 1;
            transition: 0.25s all linear;
          }

          @include lg {
            display: block;
          }

          &.active {
            cursor: text;
          }
        }
      }

      .button-group {
        align-items: center;
        display: flex;
        height: 54px;
        justify-content: flex-start;
        width: 100%;
        @include sm {
          justify-content: flex-start;
          margin-left: 4px;
        }

        @include md {
          width: initial;
        }

        a {
          align-items: center;
          display: flex;
          justify-content: flex-start;
          margin-left: 16px;
          margin-right: 16px;
          .icon {
            width: 12px;
            height: 12px;
            @include bp {
              width: 16px;
              height: 16px;
            }
            @include tn {
              width: 20px;
              height: 20px;
            }
            &.email {
              left: -6px;
              position: relative;
              top: -1px;
            }

            &.phone {
              left: -4px;
              position: relative;
              top: -1px;
            }
          }
        }
      }
    }

    /* Site Search */
    #searchInputWrapper {
      align-items: center;
      background-color: $color-blue-darker;
      border-radius: 22px;
      color: #fff;
      display: flex;
      height: 40px;
      overflow: hidden;
      padding: 0;
      transition: 0.2s all cubic-bezier(0.17, 0.67, 0.46, 1.1);
      width: 0;
      max-width: 0;
      @include tn {
        height: 44px;
        max-width: 40px;
      }
      @include sm {
        margin-left: -44px;
      }

      input {
        background-color: $color-blue-darker;
        border: 0;
        color: #fff;
        font-size: 17px;
        left: -16px;
        line-height: 40px;
        max-width: 0;
        opacity: 0;
        outline: 0;
        overflow: hidden;
        transition: 0.2s all cubic-bezier(0.17, 0.67, 0.46, 1.1);
        width: 0;
      }

      &.active {
        margin-left: -44px;
        max-width: 300px;
        padding-left: 60px;
        transition: 0.2s all cubic-bezier(0.17, 0.67, 0.46, 1.1);
        width: 300px;
        input {
          color: #fff;
          max-width: 100%;
          opacity: 1;
          position: relative;
          transition: 0.2s all cubic-bezier(0.17, 0.67, 0.46, 1.1);
          width: 100%;
          &::placeholder {
            color: rgba(255, 255, 255, 0.8);
            font-size: 17px;
          }
        }
      }
    }

    a.button.link {
      color: rgba(255, 255, 255, 0.9);
      transition: 0.25s color ease;
      &:hover {
        color: rgba(255, 255, 255, 1);
        transition: 0.25s color ease;
      }
    }
  }

  .button.tiny {
    margin-right: 2px;
  }

  .hs-search-field__suggestions {
    display: none;
  }

  .menu-icon {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px;
    position: relative;

    &.hide-lg {
      @include sm {
        bottom: 16px;
        display: none;
        right: 16px;
        transform: translate(0, 0);
      }

      @include md {
      }

      @include lg {
        display: none;
      }
    }

    .menu, .close {
      position: absolute;
      height: 30px;
      width: 30px;
      left: 0;
      background: $color-white;

      @include m {
        height: 42px;
        width: 42px;
      }
    }

    .menu {
      z-index: 10;
    }

    &.open {
      .menu {
        z-index: 9;
      }

      .close {
        z-index: 10;
      }
    }
  }

  .mobile-contact-wrapper {
    align-items: center;
    background-color: $color-blue-dark;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
    a {
      color: #fff;
      font-size: 17px;
      // letter-spacing: 1px;
      padding: 12px;
      text-align: center;
      width: 50%;
      @include tp {
        font-size: 12px;
      }
      span {
        border: 0;
      }

      + a {
        background-color: $color-blue-dark;
        border-left: 1px solid rgba(255, 255, 255, 0.25);
      }

      .icon {
        width: 12px;
        height: 12px;
        @include bp {
          width: 16px;
          height: 16px;
        }
        @include tn {
          width: 20px;
          height: 20px;
        }
        &.email {
          left: -8px;
          top: -1px;
          position: relative;
          @include bp {
            left: -8px;
            top: -1px;
          }
        }
        &.phone {
          left: -6px;
          top: -1px;
          position: relative;
          @include bp {
            left: -4px;
            top: -1px;
          }
        }
      }
    }

    @include sm {
      display: none;
    }
  }
}

.navigation-mobile {
  display: block;

  @include sm {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.navigation-primary {
  display: none;
  @include sm {
    display: block;
  }

  ul {
    align-items: center;
    column-gap: 16px;
    display: grid;
    grid-template-columns: repeat(7, minmax(min-content, max-content));
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.sticky {
  .nav-content-wrapper {
    a.button.link span {
      @include md {
        display: none;
      }
      @include lg {
        display: flex;
      }
    }
    div.contact-banner {
      .button-group {
        @include md {
          width: auto;
        }
      }
      a.tiny {
        @include md {
          display: none;
        }

        @include xl {
          display: block;
          font-size: 13px;
          margin-left: 8px;
        }
      }
    }
  }
  .navigation-primary {
    ul li a {
      font-size: 13px;
      font-weight: 400;

      @include lg {
        font-size: 15px;
      }
    }
  }
}

.mobile-dropdown {
  background: $color-gray-light;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.10s linear;

  &.open {
    // height: 100%;
    max-height: 500px;
    // overflow-y: scroll;
    // padding-bottom: 150px;
    // padding-top: 0;
    // position: fixed;
    // top: 111px;
    // width: 100%;
  }

  @include sm {
    &.hide-lg {
      display: none;
    }
  }

  li {
    margin-top: 1px;
  }

  li:first-child {
    margin-top: 0;
  }

  a {
    display: block;
    padding: 0 24px;
    font-size: 1.05em;
    font-weight: 400;
    line-height: 2.7em;
    background: $color-background-light;
    color: $color-blue-dark;

    &:hover {
      padding-right: 32px;
    }
  }

  // li {
  //   display: grid;
  //   justify-content: center;
  //   a {
  //     color: $color-blue-dark;
  //     font-size: 16px;
  //     font-weight: $normal;
  //     text-align: center;
  //     @include xxl {
  //       font-size: 17px;
  //     }

  //     &:hover {
  //       color: $color-red;
  //     }
  //   }
  // }

  // li:first-child {
  //   a {
  //     padding-top: 50px;
  //   }
  // }

  // li:last-child {
  //   a {
  //     padding-bottom: 50px;
  //   }
  // }
}

// body.open-menu {
//   overflow: hidden;
// }

/* Sticky Global Header */
.global-header {
  &#stickyGlobalHeader {
    position: fixed;
    top: -44px;
    // height: 54px;
    left: 0;
    right: 0;
    background: none;

    @include m {
      top: -54px;
      height: 54px;
    }
    // @include tp {
    //   top: -67px;
    // }
    // @include bp {
    //   top: -68px;
    // }
    // @include sm {
    //   top: -54px;
    // }
    .header-wrapper {
      height: initial;
      background: none;
      width: 100%;
    }
    .nav-content-wrapper {
      width: 100%;
      div.contact-banner {
        width: 100%;
        border: 0;
        border-bottom-left-radius: 0;
        .location-wrapper {
          a {
            border-bottom: 0;
          }
        }
      }
      .navigation-primary ul {
        justify-content: space-evenly;
      }
    }
    &.sticky {
      border-radius: 0;
      // height: 67px;
      opacity: 1;
      position: fixed;
      transform: translateY(100%);
      transition: 0.25s all linear;
      width: 100%;
      z-index: 3;
      @include tn {
        // height: 54px;
      }
      div.contact-banner {
        width: 100%;
        border: 0;
      }
    }
  }
}
