/* Error pages */

.error-page {
  padding: 10rem 0;
  position: relative;
  text-align: center;
}

.error-page:before {
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: #f3f6f9;
  content: attr(data-error);
  font-family: Lato, sans-serif;
  font-size: 40vw;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}

@media screen and (min-width: 1100px) {
  .error-page:before {
    font-size: 20rem;
  }
}

.error-page__heading {
  margin-bottom: 1rem;
}

/* System pages */

.systems-page {
  margin: 0 auto;
  max-width: 700px;
  padding: 3rem 1.4rem;
}

.systems-page .success {
  background-color: #cde3cc;
  border: 1.5px solid #4f7d24;
  border-radius: 6px;
  color: #4f7d24;
  display: inline-block;
  margin: 1.4rem 0;
  padding: 0.1rem 0.7rem;
  width: 100%;
}

.systems-page form input {
  max-width: 100%;
}

#email-prefs-form .header {
  background-color: transparent;
}

/* Search pages */

.hs-search-field__bar {
  position: relative;
}

.hs-search-field__suggestions {
  background-color: $color-white;
  max-width: 360px;
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
}

.hs-search-results {
  margin-top: 1.4rem;
}

ul.hs-search-results__listing li {
  margin-bottom: 1.4rem;
}

.hs-search-results__title {
  color: #494a52;
  font-family: Merriweather, serif;
  font-size: 1.25rem;
  margin-bottom: 0.35rem;
  text-decoration: underline;
}

.hs-search-results__title:hover {
  text-decoration: none;
}

.hs-search-results__description {
  padding-top: 0.7rem;
}

.hs-search-highlight {
  font-weight: bold;
}

.hs-search-results__pagination a {
  color: #0270e0;
}

/* Password prompt */

.password-prompt input[type='password'] {
  display: block;
  height: auto !important;
  margin-bottom: 1.4rem;
}

/* Backup unsubscribe */

.backup-unsubscribe #email-prefs-form div {
  padding-bottom: 0 !important;
}

.backup-unsubscribe input[type='email'] {
  margin-bottom: 1.4rem;
  padding: 0.7rem !important;
}

.three-steps-wrapper .steps_dnd_area_new-row-0-padding {
  padding: 48px 24px 24px 24px !important;
  @include m {
    padding-top: 100px !important;
    padding-bottom: 0 !important;
    padding-left: 56px !important;
    padding-right: 56px !important;
  }
}

article {
  .faq_area-row-0-padding {
    padding: 24px !important;
    @include m {
      padding-top: 100px !important;
      padding-bottom: 64px !important;
      padding-left: 64px !important;
      padding-right: 64px !important;
    }
  }
  &.practice-area-page {
    .faq_area-row-0-padding {
      @include m {
        padding-top: 170px !important;
      }
    }
  }
}

.triple-contact-wrapper .triple-contact-row-0-padding {
  padding-top: 48px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  @include m {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.triple-contact-wrapper .triple-contact-column-1-row-0-padding {
  padding-top: 0px !important;
  padding-bottom: 48px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  @include m {
    padding-top: 0px !important;
    padding-bottom: 100px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.drag-area {
  ul {
    li {
      font-size: 17px;
      line-height: 1.5;
      color: #20244e;
      &:first-of-type {
        margin-top: 15px;
      }
    }
  }
}
