.contact-option {
  text-align: center;
  padding: 0 24px;
  margin-bottom: 56px;
  @include m {
    margin-bottom: 0;
  }
  img,
  svg {
    margin-bottom: 16px;
    min-height: 45px;
    max-height: 45px;
  }
  h3 {
    font-size: 30px;
    margin-bottom: 16px;
    @include m {
      font-size: 35px;
    }
  }
  p {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 24px;
    @include m {
      margin-bottom: 48px;
    }
  }
}
