.faq {
    h2 {
        display: none;
        &.show-title {
            display: block;
            font-size: 50px;
            margin-bottom: 56px;
        }
    }

    header {
        align-items: center;
        border-bottom: 2px solid $color-blue-dark;
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        margin-top: 24px;
        padding-bottom: 16px;
        svg {
            left: -5px;
            position: relative;
            width: 25px;
            circle {
                fill: $color-blue-light;
            }
        }
    }
    &.open {
        svg {
            #Rectangle_70 {
                display: none;
            }
            circle {
                fill: gray;
            }
        }
    }

    h3 {
        font-family: $public;
        font-size: 25px;
    }

    p {
        font-size: 17px;
        line-height: 1.5;
        margin-bottom: 24px;
        + div {
            // margin-bottom: 32px;
        }
        &:empty {
            display: none;
        }
    }

    .full-answer {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: 0.25s all linear;
        &.open {
            max-height: auto;
            opacity: 1;
            transition: 0.25s all linear;
            &.starts-open {
                max-height: initial;
                opacity: 1;
            }
        }
    }
}
