article .practice-area {
    align-items: flex-start;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    &:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: 705px) {
    article .practice-area {
        flex-direction: row;
    }

    article .practice-area.odd img {
        order: 1;
    }

    article .practice-area.odd .inner-content-wrapper {
        order: 2;
    }
    article .practice-area.even .inner-content-wrapper {
        padding: 58px 80px 80px 48px;
    }
    article .practice-area.even img {
        order: 2;
    }

    article .practice-area.even .inner-content-wrapper {
        order: 1;
    }
}

article .practice-area img {
    margin-bottom: 24px;
    margin-top: 60px;
    // width: calc(1230px / 2);
    width: 100%;
    height: calc(760px / 2);
    object-fit: cover;
    @include sm {
        width: 50%;
    }
}

@media (min-width: 705px) {
    article .practice-area img {
        margin-bottom: 0;
        // width: 50%;
    }
}

article .practice-area .inner-content-wrapper {
    flex: 1;
    padding: 24px;
}

@media (min-width: 705px) {
    article .practice-area .inner-content-wrapper {
        padding: 58px 40px 80px 80px;
    }
}

article .practice-area h3 {
    color: #fff;
    font-family: 'Public Sans', sans-serif;
    font-size: 17px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

article .practice-area h4 {
    color: #fff;
    font-size: 35px;
    margin-bottom: 24px;
}

article .practice-area p {
    color: #fff;
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 24px;
}

article .practice-area p:last-of-type {
    margin-bottom: 32px;
}
article {
    .home_practice_areas-row-1-padding {
        padding-top: 0px !important;
        padding-bottom: 48px !important;
        padding-left: 24px !important;
        padding-right: 24px !important;
        @include tn {
            padding-top: 0px !important;
            padding-bottom: 100px !important;
            padding-left: 64px !important;
            padding-right: 64px !important;
        }
    }
}
