.home-client-reviews {
    background-color: #eaebef;
}

article.client-reviews {
    margin-bottom: 48px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11),
        0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
}

article.client-reviews .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1260px;
}

article.client-reviews .content-wrapper .list {
    order: 2;
}

article.client-reviews .content-wrapper .featured {
    order: 1;
}

@media (min-width: 705px) {
    article.client-reviews .content-wrapper {
        flex-direction: row;
    }

    article.client-reviews .content-wrapper .list {
        order: 1;
    }

    article.client-reviews .content-wrapper .featured {
        order: 2;
    }
}

article.client-reviews .content-wrapper section {
    background-color: #fff;
    flex: 1.1;
    padding: 48px;
}

article.client-reviews .content-wrapper section h2 {
    color: #20264c;
    margin-bottom: 32px;
}

article.client-reviews .content-wrapper section + section {
    background-color: #20264c;
    flex: 1;
    padding: 0;
}

article.client-reviews .content-wrapper section + section img,
article.client-reviews .content-wrapper section + section svg {
    max-width: 100%;
}

article.client-reviews ul .review {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

article.client-reviews ul .review > img,
article.client-reviews ul .review > svg {
    margin-right: 24px;
    width: 240px;
    height: 140px;
}
article.client-reviews ul .review > img {
    flex: none;
}

article.client-reviews ul .review h3,
article.client-reviews ul .review h4 {
    color: #20264c;
}

article.client-reviews ul .review h4 {
    margin-bottom: 0;
}

@media (min-width: 705px) {
    article.client-reviews ul .review {
        flex-direction: row;
    }
}

article.client-reviews ul .review .review-stars {
    margin-top: 24px;
}

@media (min-width: 705px) {
    article.client-reviews ul .review .review-stars {
        margin-top: 0;
    }
}

article.client-reviews .review .review-stars {
    margin-bottom: 16px;
}

article.client-reviews .review .review-stars img,
article.client-reviews .review .review-stars svg {
    margin-right: 2px;
}

article.client-reviews .review h3,
article.client-reviews .review h4,
article.client-reviews .review p {
    color: #fff;
}

article.client-reviews .review h3 {
    font-family: 'Public Sans', sans-serif;
    font-size: 17px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

article.client-reviews .review h4 {
    font-size: 35px;
    margin-bottom: 16px;
}

article.client-reviews .review .inner-featured-review {
    padding: 32px;
}

article.client-reviews .review .inner-featured-review p {
    line-height: 1.5;
    margin-bottom: 24px;
}

article.client-reviews .review-stars {
    display: flex;
}

article.client-reviews .review-stars-img {
    margin-bottom: 8px;
    height: 38px;
    width: 220px;
}
