@keyframes marquee {
  0% { transform: translateX(0); }
  5% { transform: translateX(0); }
  50% { transform: translateX(-100%); }
  55% { transform: translateX(-100%); }
}
.image-gallery {
  display: none;
  max-height: 200px;
  overflow: hidden;

  @include md {
    display: block;
  }
  img.gallery-photo {
    height: 200px;
    width: auto;
  }
  > ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    will-change: transform;
    animation: marquee 240s linear infinite;

    > li {
      display: block;
      flex: 0 0 auto;
    }
  }
}
