.simple-step-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 56px;
    text-align: center;
    @include sm {
        margin-bottom: 0;
        padding: 100px 16px 0;
        position: relative;
    }

    img,
    svg {
        height: 75px;
        margin: 0 auto 24px auto;
        @include sm {
            margin: 0 0 24px -150px;
            position: absolute;
            top: 0;
            left: 50%;
        }
    }

    h3 {
        font-size: 30px;
        margin-bottom: 24px;
        @include m {
            font-size: 35px;
        }
    }

    p {
        font-size: 18px;
        line-height: $line-height-body;
    }
}

.three-steps-wrapper .row-number-4 {
    padding: 0 0 0 0 !important;
    @include m {
        padding: 60px 0 100px 0 !important;
    }
}
