.video-wrapper {
  background: url('https://f.hubspotusercontent20.net/hubfs/5191528/Crisp%20Videos/Homepage/v2/Hero%20-%2015s%20-%20No%20Sound%20-%204%20-%20firstframe.jpg')
    $color-blue-darker no-repeat center / cover;
  background-color: $color-blue-darker;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 0;
  padding-top: 42.5%;
  video {
    position: absolute;
    top: 0;
    z-index: 1;
  }

  &::before {
    @include sm {
      z-index: 2;
      background: -moz-linear-gradient(
        left,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0) 100%
      ); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        left,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0) 100%
      ); /* Chrome10-25,Safari5.1-6 */
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.25+0,0+46 */
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0) 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      border-radius: 5px;
      bottom: 0;
      content: '';
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  h1 {
    color: #fff;
    font-size: 7vw;
    margin-bottom: 4px;
    padding-right: 60px;
    position: relative;
    @include sm {
      font-size: 64px;
      margin-bottom: 24px;
      padding-right: 0;
    }
  }

  header {
    left: 6vw;
    max-width: 520px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
  }

  .sound-icon {
    left: 4px;
    opacity: 1;
    position: relative;
    top: 1px;
    width: 13px;
    height: 13px;
  }

  #playButton.play-button-wrapper {
    align-items: center;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    &:hover {
      p {
        opacity: 1;
      }

      svg.play-button {
        transform: scale(1.05);
        transition: 0.25s all cubic-bezier(0.17, 0.67, 0.84, 1.05);
        circle {
          fill: $color-red-light;
        }
      }
    }

    svg.play-button {
      transition: 0.25s all cubic-bezier(0.17, 0.67, 0.84, 1.05);
      width: 50px;
      @include sm {
        width: initial;
      }
    }

    p {
      color: #fff;
      display: block;
      font-size: 3vw;
      font-weight: 800;
      margin-left: 24px;
      position: relative;
      text-align: left;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      text-transform: uppercase;
      top: -4px;
      @include sm {
        font-size: 20px;
      }

      span {
        color: #fff;
        display: block;
        font-size: 17px;
        font-weight: 400;
        margin-top: 4px;
        opacity: 0.9;
      }
    }
  }
}
