<!--
  templateType: page
  isAvailableForNewContent: true
  label: Contact
-->
{% extends './layouts/base.html' %}

{% block body %}
  {# Contact Form #}
  {% dnd_area "contact" %}
    {% dnd_section %}
      {% dnd_module path='../hubspot-modules/contact' %}
      {% end_dnd_module %}
    {% end_dnd_section %}
  {% end_dnd_area %}

  {# Tagline #}
  {% dnd_area "tagline" %}
    {% dnd_section %}
      {% dnd_module path='../hubspot-modules/section-heading',
        is_on_dark_background="false",
        section_title="PROUDLY SERVING BALTIMORE, ANNAPOLIS, AND WASHINGTON, D.C.",
        section_intro="Free consultation. No fees or costs unless we win.",
        hide_button="true",
        width=12 %}
      {% end_dnd_module %}
    {% end_dnd_section %}
  {% end_dnd_area %}
{% endblock body %}
