<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">

  {% dnd_area "hero_dnd_area" %}

  {% dnd_section %}
  {% dnd_module path='../hubspot-modules/video-hero' %}
  {% end_dnd_module %}
  {% end_dnd_section %}

  {% end_dnd_area %}


  <article id="hero-banner">
    {% dnd_area "banner_dnd_area" %}

    {% dnd_section
    max_width=1600,
    vertical_alignment='MIDDLE',
    background_color={
    r: 32,
    g: 36,
    b: 78,
    a: 1.0
    },
    padding={
    'top': 40,
    'bottom': 40,
    'left': 56,
    'right': 56
    },
  %}
    {% dnd_module path='../hubspot-modules/banner-award', width=3 %}
    {% end_dnd_module %}
    {% dnd_module path='../hubspot-modules/banner-review', width=6, offset=3 %}
    {% end_dnd_module %}
    {% dnd_module path='../hubspot-modules/banner-settlement', width=3, offset=9 %}
    {% end_dnd_module %}
    {% end_dnd_section %}


    {% end_dnd_area %}

  </article>

  <article id="three-steps">
    {% dnd_area "steps_dnd_area" %}

    {% end_dnd_area %}
  </article>



</main>
{% endblock body %}
