/********* Colors **********/
$color-black: #000;
$color-white: #fff;
$color-off-white: #f3f4f8;
$color-gray: #4d4d4d;
$color-gray-dark: #606060;
$color-gray-darker: #414042;
$color-gray-light: #c9c9c9;
$color-yellow: #f3b52c;
$color-green: #009045;
$color-blue: #1c2f5f;
$color-blue-light: #263d75;
$color-blue-lighter: #0071ba;
$color-blue-dark: #20264c;
$color-blue-darker: #161b35;
$color-red: #b72f00;
$color-red-light: #d33120;
$color-red-dark: #9a2310;
$color-background-light: #f3f4f8;

/********* Page Sizing *******/
$padding-sm: 16px;
$padding-md: 24px;
$padding-lg: 48px;
$padding-xl: 64px;

$line-height-body: 1.5;
$line-height-headings: 1.1;

/********* Typography **********/
$public: "Public Sans", sans-serif;
$play: "Playfair Display", serif;
