<!--
  templateType: global_partial
  label: Footer
-->
<footer class="global-footer">

  <div class="content-wrapper">

    <!-- Copyright Group -->
    <div class="copyright-group">
      <p>© 2020 D’Amore Personal Injury Law, LLC.</p>
      <ul>
        <li>
          <a href="#">
            Sitemap
          </a>
        </li>
        <li>
          <a href="#">
            Privacy Policy
          </a>
        </li>
      </ul>
    </div>

    <div class="brand-wrapper">

      <!-- Logo -->
      <img class="logo"
        src="{{ get_asset_url('../../images/brand/damore-logo-white.svg') }}"
        alt="D'Amore Personal Injury Law, LLC" />

      <!-- Social Icons -->
      <ul class="social-media">
        <li>
          <a target="_blank"
            href="https://www.youtube.com/channel/UCa46aXJW-kuJKfWFYWuyQWg">
            <img alt="Youtube"
              src="https://www.damoreinjurylaw.com/hubfs/Icons/YouTube%20Icon.svg">
          </a>
        </li>
        <li>
          <a target="_blank"
            href="https://www.linkedin.com/company/10855051">
            <img alt="Linkedin"
              src="https://www.damoreinjurylaw.com/hubfs/Icons/LinkedIn%20Icon.svg">
          </a>
        </li>
        <li>
          <a target="_blank"
            href="https://www.facebook.com/damoreinjurylaw/">
            <img alt="Facebook"
              src="https://www.damoreinjurylaw.com/hubfs/Icons/Facebook%20Icon.svg">
          </a>
        </li>
        <li>
          <a target="_blank"
            href="https://twitter.com/DAmoreInjuryLaw">
            <img alt="Twitter"
              src="https://www.damoreinjurylaw.com/hubfs/Icons/Twitter%20Icon.svg">
          </a>
        </li>
        <li>
          <a target="_blank"
            href="https://www.instagram.com/damoreinjurylaw/">
            <img alt="Instagram"
              src="https://www.damoreinjurylaw.com/hubfs/Icons/Instagram%20Icon-2.svg">
          </a>
        </li>
      </ul>

    </div>

  </div>

</footer>
