// * {
//   -webkit-font-smoothing: antialiased;
// }

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Public+Sans:wght@400;700&display=swap');

$normal: 400;
$bold: 700;

html,
body {
  font-family: 'Public Sans', sans-serif;
  font-weight: $normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  color: $color-blue-dark;
  line-height: 1.1;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: $bold;
}

a,
p {
  font-weight: $normal;
  line-height: 1.15;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 35px;
  @include m {
    font-size: 50px;
  }
}
h3,
h4 {
  font-size: 30px;
  @include m {
    font-size: 35px;
  }
}

.section-heading {
  color: $color-blue-dark;
  font-family: $play;
  font-size: 35px;
  line-height: 1.1;
  margin-bottom: 16px;
  @include m {
    font-size: 50px;
    line-height: 1.3;
  }
}

.section-description {
  font-family: $public;
  font-size: 18px;
  font-weight: $normal;
  line-height: 1.3;
  margin-bottom: 64px;
  max-width: 550px;
  @include sm {
    font-size: 20px;
  }
}

.heading {
  color: $color-blue-dark;
}
