//tiny-phone
$screen-tp-min: 320px;
//big-phone
$screen-bp-min: 414px;

// tiny
$screen-tn-min: 476px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 705px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1100px;

// Large tablets and desktops
$screen-xl-min: 1300px;

// Larger tablets and desktops
$screen-xxl-min: 1500px;

// Small Phone devices
@mixin tp {
  @media (min-width: #{$screen-tp-min}) {
    @content;
  }
}

// Big Phone devices
@mixin bp {
  @media (min-width: #{$screen-bp-min}) {
    @content;
  }
}
// Tiny devices
@mixin tn {
  @media (min-width: #{$screen-tn-min}) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Extra Extra large devices
@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}

// Custom device size
@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}

@mixin show-screen-readers {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
